.skill{
    width: 120px;
    height: 200px;
    border-radius: 60px;
    background: #ffffff;
    display: inline-block;
    text-align: center;
    padding: 40px 30px;
}
.icon{
    margin: 20px auto;
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: blueviolet;
}
