.mainWrapper {
    height: 100vh;
    background-color: #fff
}
.container{
    justify-content: space-around;
}
.info {
    width: 550px;

}

.photo {
    width: 500px;
    height: 700px;
    background-color: cadetblue;
}

.title {
    font-family: 'Syne', sans-serif;
    font-size: 110px;
    font-weight: 700;
    line-height: 120px;
    margin: 0;
}

.text{
    font-weight: 500;
}