.skillsWrapper{
    padding: 50px 0;
    background-color: #f6f6f6;

}
.skillsContainer{
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skillsContent {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid;
    gap: 30px;
    width: 60%;
}

.skillsTitle{
    text-align: start;
    margin-bottom: 80px;
    font-size: 60px;
    line-height: 70px;
}